:root {
  --primary: #0a1128;
  --secondary: #00bcc4;
  --base: #f5f8fb;
  --base-strong: #ffffff;
  --accent: #ff434f;
  
  --secondary-light: #fffd80;
  
  --small-gap: 0.5rem;
  --normal-gap: 1rem;
  
  --text-primary: #ffffff;
  --text-light: #eaedf2;
  --text-dark: #000000;
  --text-warning: #f71734;
  --text-success: var(--green);
  --green: #05a657;

  --icon-size: 1.5rem;
  --icon-size-lg: 2rem;
  --icon-size-xl: 2.5rem;


  --summary-height: 86px;
}

@font-face {
  font-family: 'Aileron';
  src: local('Aileron'), url(./assets/fonts/Aileron-Black.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
