.App-header {
  grid-area: header;
  background-color: var(--base);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  font-size: 1.5em;
  font-family: monospace;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.header__right img {
  border-radius: 50%;
}