.sidebar {
  grid-area: aside;
  width: 100%;
  min-height: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  color: white;
}

.nav-link {
  color: rgb(234, 237, 242);
  width: 100%;
  text-align: left;
}

.logo-container {
  display: flex;
  height: 8rem;
  width: 100%;
  /* background-color: var(--secondary); */
  align-items: center;
  /* color: black; */
  justify-content: center;
  font-family: Aileron, sans-serif;
  font-size: 2rem;
}

.logo-container img {
  filter:brightness(200%);
}

.sidebar span {
  margin-left: .4rem;
}

.sidebar i {
  color: white;
}