.chat {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    bottom: 1rem;
    right: 2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    z-index: 10;
}

.chat i {
    font-size: var(--icon-size-xl);
    color: var(--text-primary);
}