.summary {
    position: relative;
}

.title {
    font-size: 1.8rem;
}

.value {
    font-size: 2.8rem;
    display: block;
}

.delta i {
    margin: 0 0.5rem;
}

.positive {
    color: var(--green);
}

.negative {
    color: var(--accent);
}

.compact {
    display: inline;
    margin: 0 0.5rem;
}